* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif;}

body {
    background-color: #fafafa;
}

header {
    width: 100%;
    padding: 0 0 20px 30px;
    display: flex;
}

h1 {
    font-size: 100px;
    font-weight: 100;
    margin: 10px 30px;
    background-color: rgb(255,165,0);
}

strong {
    font-weight: 600;
    font-size: 40px;
    align-self: flex-end;
    margin-bottom: 26px;
    margin-left: 30px;
}

#prev, #next {
    align-self: center;
    font-size: 40px;
    color: #bbb;
    transition: 0.3s;
    cursor: pointer;
}

#prev:hover, #next:hover {
    color: black;
    transform: scale(1.1);
}

main {
    width: 1190px;
    margin: 0 auto;
}

main .container-days-of-week {
    width: 100%;
    height: 30px;
    display: flex;
}

main .container-days-of-week span {
    border: 1px solid #bbb;
    border-left: 0;
    width: 170px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
    background-color: #e3e3e3;
}

main .container-days-of-week span:first-child {
    border-left: 1px solid #bbb;
}

main .container-days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main .container-days .day {
    width: 170px;
    height: 90px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background-color: #f2f2f2;
    padding: 10px 3px 3px 10px;
    font-weight: 600;
}

main .container-days .day.empty {
    background-color: #fafafa;
}

main .container-days .day.festa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255,165,0,0.4);
}

main .container-days .day.festa span {
    align-self: flex-end;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(255,165,0,0.0);
}

main .container-days .day:first-child, .day:nth-child(8), .day:nth-child(15), .day:nth-child(22), .day:nth-child(29), .day:nth-child(36) {
    border-left: 1px solid #bbb;
}

footer {
    width: 100%;
    height: 40px;
    text-align: center;
}

footer span {
    font-size: 50px;
    color: rgb(255,165,0);
}
